#!/bin/bash

${WORKDIR?"Need to set WORKDIR env"} 2>/dev/null

# ${SPARK_HOME?"Need to set SPARK_HOME env"} 2>/dev/null
# ${SPARK_EVENT_LOG_PATH?"Need to set SPARK_EVENT_LOG_PATH env"} 2>/dev/null
# ${HADOOP_HOME?"Need to set HADOOP_HOME env"} 2>/dev/null
# ${HADOOP_USER_NAME?"Ned to set HADOOP_USER_NAME env"} 2>/dev/null

${SPARK_HOME:-"/home/ccw/spark-1.6.2-ppc64le"}
${SPARK_EVENT_LOG_PATH:-"/mnt/ram/spark-event"}
${HADOOP_HOME:-"/usr/iop/4.1.0.0/hadoop"}
${HADOOP_USER_NAME:-"baidu"}

export HADOOP_USER_NAME=${HADOOP_USER_NAME}

QUERIES_DIR=${WORKDIR}/tpcds_queries
ARCH=`uname -a | awk '{ print \$12 }'`

SQLPERF_JAR=${WORKDIR}/spark-sql-perf-0.3.2/target/scala-2.10/spark-sql-perf_2.10-0.3.2.jar
JMETER_BIN=${WORKDIR}/apache-jmeter-2.13/bin/jmeter

LOG_DIR=${WORKDIR}/tpcds_logs/
mkdir -p $LOG_DIR

NMON_DIR=${WORKDIR}/nmon_logs

# Runtime config paramters
DRIVER_MEM=30g
DRIVER_CORES=10
EXEC_MEM_OVERHEAD=1536
SHUFFLE_PARTITIONS=64
NUM_EXECUTORS=27
EXEC_CORES=15
EXEC_MEM=20g
GC_THREADS=9

